* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    background-color: beige;
}

.rechner {
   width: 35vw;
   height: 80vh;
   margin-top: 5%;
   margin-left: auto;
   margin-right: auto;
   border: 20px solid;
   background-color: black;
   
}
.ergebnis {
    width: 99%;
    height: 20%;
    background-color: white;
    border: 2px solid;

}

.eingabe {
    height:80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
}

.felder {
    margin: 3px;
    font-size: 3em;
}

.zahl {
    background-color: rgb(172, 238, 247);

}

.zeichen {
    background-color: orange;
}

.gleich {
    grid-column: span 4;
    background-color: rgb(252, 216, 150);
}